[Unit]
Description=BIRD Internet Routing Daemon
# Bind to and start after rsyslog so that the IP is only announced when rsyslog is running
#After=network.target
After=network.target,rsyslog.service
BindsTo=rsyslog.service

[Service]
EnvironmentFile=/etc/bird/envvars
ExecStartPre=/usr/lib/bird/prepare-environment
ExecStartPre=/usr/sbin/bird -p
ExecReload=/usr/sbin/birdc configure
ExecStart=/usr/sbin/bird -f -u $BIRD_RUN_USER -g $BIRD_RUN_GROUP $BIRD_ARGS
Restart=always

[Install]
WantedBy=multi-user.target
