input(type="imfile" ruleset="infiles" Tag="mikrotik" File="/var/log/mikrotik.log")

## Set the Datadog Format to send the logs
$template DatadogFormat,"{{ DATADOG_API_KEY }} <%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% - - - %msg%\n"

#ruleset(name="infiles") {
#  action(type="omfwd" protocol="tcp" target="intake.logs.{{ DATADOG_SITE }}" port="10514" template="DatadogFormat")
#}

## Define the destination for the logs - Use TLS
$DefaultNetstreamDriverCAFile /etc/ssl/certs/ca-certificates.crt
ruleset(name="infiles") {
    action(type="omfwd" protocol="tcp" target="intake.logs.datadoghq.com" port="10516" template="DatadogFormat" StreamDriver="gtls" StreamDriverMode="1" StreamDriverAuthMode="x509/name" StreamDriverPermittedPeers="*.logs.datadoghq.com" )
}
