name: ansible-lint
permissions: read-all
on:
  pull_request:
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@a9f8a4e21be85461fdc3d0f492a89e365bf4fd72 # v25
        with:
          args: "--exclude .ansible/collections/"
          setup_python: "true"
          working_directory: "./ansible/"
          requirements_file: ""
