name: ansible-lint
permissions: read-all
on:
  pull_request:
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@ef53f7802613611d813f0c58e48819c8e9a3a3fe # v25
        with:
          args: "--exclude .ansible/collections/"
          setup_python: "true"
          working_directory: "./ansible/"
          requirements_file: ""
