name: ansible-lint
permissions: read-all
on:
  pull_request:
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #@v5
        with:
          python-version: '3.11'
  
      - name: Setup ansible
        run: pip install --require-hashes -r ansible/requirements.txt && export PATH="$HOME/.local/bin:$PATH" && ansible-galaxy collection install --force -r ansible/roles/requirements.yml

      - name: Run ansible-lint
        uses: ansible/ansible-lint@7f6abc5ef97d0fb043a0f3d416dfbc74399fbda0 # v25
        with:
          args: "--exclude .ansible/collections/"
          setup_python: "false"
          working_directory: "./ansible/"
          requirements_file: ""
